# Introduction to Python

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [1]:
#int, float, String, boolean

number = 10
decimal = 10.5
name = "Myky"
likes_programming = True

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

In [2]:
print(number)

10

In [3]:
print(decimal)

10.5

In [4]:
print(name)

Myky

In [5]:
print(likes_programming)

True

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

In [6]:
type(number)

int

In [7]:
type(decimal)

float

In [8]:
type(name)

str

In [9]:
type(likes_programming)

bool

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [10]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

In [11]:
result = first_value - second_value
print(result)

-2

In [12]:
result = first_value * second_value
print(result)

15

In [13]:
result = first_value /second_value
print(result)

0.6

## Example: Lists

In [14]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [15]:
fruits[0]

'orange'

In [16]:
fruits[1]

'apple'

In [17]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [18]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [19]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [20]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

In [21]:
names = ["Myky", "Lisa", "Sara", "Veronica", "Nedine"]

In [22]:
names[0]

'Myky'

In [23]:
names[1]

'Lisa'

In [24]:
names[-1]

'Nedine'

__Exercise 3 b)__ Print your list of names using different ranges

In [25]:
names[3:5]

['Veronica', 'Nedine']

In [26]:
names[3:]

['Veronica', 'Nedine']

In [27]:
names[:3]

['Myky', 'Lisa', 'Sara']

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

In [28]:
len(names)

5

__Exercise 4 b)__ Add a new name to your list using append(_item_)

In [29]:
names.append("Mariana")

__Exercise 4 c)__ Print the list. Does it look as expected?

In [30]:
print(names)

['Myky', 'Lisa', 'Sara', 'Veronica', 'Nedine', 'Mariana']

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

In [31]:
names.insert(2, "Maja")

__Exercise 4 e)__ Print the list. Does it look as expected?

In [32]:
print(names)

['Myky', 'Lisa', 'Maja', 'Sara', 'Veronica', 'Nedine', 'Mariana']

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

In [33]:
names.remove("Sara")

__Exercise 4 g)__ Print the list. Does it look as expected?

In [34]:
print(names)

['Myky', 'Lisa', 'Maja', 'Veronica', 'Nedine', 'Mariana']

# Example: For loops

In [35]:
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
mango
grapes

In [36]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruit)

oranges
apples
pears
bananas
kiwis
mangos
grapess

__Exercise 5 a)__ Print each name in your list of names

In [37]:
for name in names:
    print(name)

Myky
Lisa
Maja
Veronica
Nedine
Mariana

__Exercise 5 b)__ Add a small change to each name in your list

In [38]:
for name in names:
    name = name + 's'
    print(name)

Mykys
Lisas
Majas
Veronicas
Nedines
Marianas

# Example: Dictionaries

In [39]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [40]:
capital = countries["sweden"]
print(capital)

stockholm

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

In [43]:
capital_denmark = countries["denmark"]
print(capital_denmark)

copenhagen

In [44]:
capital_norway = countries["norway"]
print(capital_norway)

oslo

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

In [45]:
countries["germany"] = "berlin"

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

In [46]:
print(countries)

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo', 'germany': 'berlin'}

__Exercise 6 d)__ Update Sweden's capital to Malmo

In [47]:
countries["sweden"] = "malmo"

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

In [48]:
print(countries)

{'sweden': 'malmo', 'denmark': 'copenhagen', 'norway': 'oslo', 'germany': 'berlin'}

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

In [49]:
del countries["sweden"]

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

In [50]:
print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo', 'germany': 'berlin'}

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [51]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo
Country: germany, Capital: berlin

# Example: Functions

In [ ]:
def function_name(param1, param2):
    # Block of code

We will start with creating a function that can add two numbers.

In [61]:
def add_two_numbers(number1, number2):
    result = number1 + number2
    return result

Let's try to use it!

In [62]:
add_two_numbers(1, 2)

3

In [63]:
add_two_numbers(5, 20)

25

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

In [52]:
def subtract(number1, number2):
    result = number1 - number2
    return result

__Exercise 7 b)__ Use the function. Does it return the expected results?

In [57]:
subtract(5, 20)

-15

__Exercise 7 c)__ Create a function that can multiply two numbers

In [53]:
def multiply(number1, number2):
    result = number1 * number2
    return result

__Exercise 7 d)__ Use the function. Does it return the expected results?

In [58]:
multiply(5, 20)

100

__Exercise 7 e)__ Create a function that can divide two numbers

In [54]:
def divide(number1, number2):
    result = number1 / number2
    return result

__Exercise 7 f)__ Use the function. Does it return the expected results?

In [59]:
divide(5, 20)

0.25

# Extra

How do we select multiple items from a list? There are two ways :)

In [64]:
from operator import itemgetter 
index = [0, 1, -1] #first, second and last
print(itemgetter(*index)(names))

('Myky', 'Lisa', 'Mariana')

In [66]:
index = [0, 1, len(names)-1] # We cannot use -1 here, instead we can use the length of the list
i = 0

for name in names:
    if i in index:
        print(name)
    i = i + 1

Myky
Lisa
Mariana